* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

video {
    position: fixed;
    /* השתמשתי פה בתכונה הזאת בשביל שהסרטון יישאר תמיד ברקע תמיד גם כשגוללים למטה או למעלה*/
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.overlay {
    position: fixed;/*used fixed because i wanted the overlay to allways be positioned over the entire screen from the top left */
    content: '';
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    z-index: -90;
}

#page1 {
    height: 100vh;
    max-width: 100%;
    width: 100vw;
}

.page1header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.page1header h1 {
    padding: 20px;
    font-family: "Snowtop";
    text-align: center;
    color: #f79e02;
    font-size: 5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.pagedown {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:1201px) and (max-width: 1920px) {
    .navbar-wrap {
        display: none;
    }
}

@media (max-width:1501px) {
    .type-right>img {
        width: 220px;
    }
    .type-container>.type-left>p {
        font-size: 1.2rem;
    }
}

@media (max-width:1200px) {
    .page1header h1 {
        font-size: 4rem;
    }
    .history-content>p {
        font-size: 2rem;
    }
    .bg-navbar {
        display: none;
    }
    .type-right {
        width: 40%;
    }
    .type-left {
        width: 60%;
    }
    .type-container>.type-left>p {
        font-size: 1.3rem;
    }
    .snowboard-types-container {
        align-items: center;
    }
    .type-container {
        width: 100%;
    }
    #gallery-section {
        margin-top: 90%;
    }
    .resorts-right{
        width: 70%;
        padding-left: 5rem;
    
        font-size: 1.2rem;
    }
    .resorts-left{
        width: 30%;
    }
}

@media (max-width: 800px) {
    html {
        background-color: #333;
    }
    .history-content>p {
        font-size: 1.5rem;
    }
    #bgvid {
        display: none;
    }
    .type-container>.type-left>p {
        font-size: 0.85rem;
    }
    .type-right {
        width: 50%;
    }
    .type-left {
        width: 50%;
    }
    .type-right>img {
        width: 180px;
    }
    #gallery-section {
        margin-top: 150%;
    }
    .resorts-right{
        width: 65%;
        padding-left: 7rem;
        font-size: 1.2rem;
    }
    .resorts-left{
        width: 35%;
    }
    .footer-basic{
        flex-direction: column;
    }
    .footer-basic li{
        float: none;
    }
}

@media (max-width: 600px) {
    #gallery-section>h1 {
        font-size: 3rem;
    }
    .page1header h1 {
        font-size: 3rem;
    }
    .type-container {
        padding: 1rem;
    }
    .type-right {
        width: 60%;
    }
    .type-left {
        width: 40%;
    }
    
    #gallery-section {
        margin-top: 230%;
    }
    .resorts-right{
        width: 100%;
        padding-left:1rem ;
    
        font-size: 1.2rem;
    }
    .resorts-left{
        width: 100%;
    }
    .resorts-left>img{
        width: 90%;
        display: block;
        margin: auto;
    }
}

@font-face {
    font-family: "Snowtop";
    src: url(../fonts/SnowtopCaps.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Snowdrift";
    src: url(../fonts/HultogSnowdrift.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}