.snowball{
    position:absolute;/*used absolute because i wanted to position the image above the view of the page to make it seem as if it is falling down*/
    top:-500px;
    animation: dropsnowball 0.5s 1.5s linear; 
}
@keyframes dropsnowball {
  0% {transform: translateY(0px);}  
  100% {transform: translateY(700px);}
}  
.snowball2{
    position:absolute;/*used absolute to place the second picture where the first picture as falling too to make it seem as if it melts away*/
    top:-500px;
    animation: showandfade 3s 2s linear; 
}
@keyframes showandfade{
  0% {opacity:1;top:210px;}  
  90% {opacity:1;top:210px;}  
  100% {opacity:0;top:210px;}  
}
.snowball-container{
    position:relative;/*used relative because i wanted the entire element which the snowball fell on to shake after it fell*/
    animation: shake 0.5s 2s ease; 
  }
  @keyframes shake
  {
    0% {transform: translateY(0px);}  
    20% {transform: translateY(30px);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(10px);}
    80% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
  } 
